:root{
    --container-color: #25273e;
    --body-color: #1a1d30;
    --button-color: #42cc7e;
    --font-color: #e3e2ea;
    --red-color: #ef1c25;
    --grey-color: #ebecf0;
    --title-color: #1f2138;
}



